@use '../../helper/'as *;

.za-offcanvas {
    &-menu {
        & ul {
            & li {
                position: relative;
                // list-style: none;

                &:last-child {
                    & a {
                        border: 0;
                    }
                }

                &:hover {
                    &>a {
                        // background-color: var(--za-cr-theme-grey-15);
                        background-color: brown;
                    }
                }

                & a {
                    display: block;
                    padding: 6px 0;
                    border-bottom: 1px solid #ddd;
                }

                &.active {
                    &>a {
                        color: greenyellow;
                    }

                    &>button {
                        &.za-mobileMenu-close {
                            & i {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                & .za-sub-menu {
                    margin-left: 20px;
                    display: none;
                    padding: 0 0 0 10px;

                    @include border-radius(10px);
                    // background-color: var(--za-cr-theme-green-60);
                    background-color: var(--za-cr-theme-grey-11);
                    color: #fff;
                }
            }
        }
    }
}

.za-mobileMenu-close {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 0 0;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;

    & i {
        transition: all .3s linear;
    }
}