@use '../../helper/'as *;

// offcanvas Area
.za-offcanvas {
    position: fixed;
    right: 0;
    top: 0;
    padding: 76px 20px 0 30px;
    z-index: 99999;
    width: 400px;
    height: 100%;
    background-color: blueviolet;
    transition: 0.3s;
    overflow-y: scroll;
    transform: translateX(100%);

    &.open {
        transform: translateX(0);
    }

    @media #{$xs} {
        width: 100%;
    }

    @media #{$sm} {
        width: 400px;
    }

    &-close {
        & i {
            font-size: 24px;
            color: #fff;
        }
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 99994;

        &-open {
            opacity: 1;
            visibility: visible;
        }
    }
}