@use '../helper'as *;


/*****Reuse Class*****/

.za-re-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.w-img {
    & img {
        width: 100%;
    }
}

.m-img {
    & img {
        max-width: 100%;
    }
}

.fix {
    overflow: hidden;
}

.clear {
    clear: both;
}

.z-index-1 {
    z-index: 1;
    position: relative;
}

.z-index-2 {
    z-index: 2;
    position: relative;
}

.z-index-3 {
    z-index: 3;
    position: relative;
}

.z-index-11 {
    z-index: 11;
    position: relative;
}

.overflow-y-visible {
    overflow-x: hidden;
    overflow-y: visible;
}

.overflow-y-visible {
    overflow-x: visible;
    overflow-y: hidden;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.border-right {
    border-right: 1px solid var(--za-cr-theme-grey-15);
}