@use '../helper'as *;

/*Section tite*/

.za-section-title {
    font-size: var(--za-fs-h2-desktop);
    font-weight: var(--za-fw-medium);
    color: var(--za-cr-text-absolute-white);
    margin-bottom: 20px;
    & span{
        color: var(--za-cr-theme-green-60);
    }    
}

