@use '../helper'as *;

/***** Cases Area *****/
.za-cases {
    &-area {
        padding-top: 139px;
        padding-bottom: 139px;
    }

    &-individuals {
        &-left {
            background-color: var(--za-cr-theme-grey-11);
            // background-color: brown;
            border-radius: 20px;
            padding: 46px;
            width: 748px;

            @media #{$xl} {
                width: 610px;
                 padding: 36px;
            }

            // height: 534px;
        }

        &-bg {
            &-img {
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        &-row {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            z-index: 11;
        }

        &-item {
            background-color: var(--za-cr-theme-grey-10);
            border: 1px solid var(--za-cr-theme-grey-15);
            border-radius: 16px;
            padding: 30px;
            text-align: center;
            width: 314px;

            @media #{$xl} {
                width: 260px;
                padding: 24px;
            }

            // height: 200px;
            & h6 {
                line-height: 1.5;
                font-size: 20px;
                font-weight: var(--za-fw-regular);

                @media #{$xl} {
                    font-size: 16px;
                }
            }
        }
        &-couter{
            & h1{
                color: var(--za-cr-theme-green-60);
            }
        }
    }
}