@use '../helper'as *;

/***** Cases Area *****/
.za-cases {
    &-area {
        padding-top: 139px;
        padding-bottom: 139px;

        @media #{$lg} {
            padding-top: 0;
        }
    }

    &-content {
        &-left {
            background-color: var(--za-cr-theme-grey-11);
            border-radius: 20px;
            padding: 46px;
            width: 748px;

            @media #{$xl} {
                width: 610px;
                padding: 36px;
            }

            @media #{$xs,$sm,$md} {
                width: 358px;
                padding: 18px;
            }

            @media #{$xs,$sm,$md,$lg} {
                margin: 0 auto;
            }

        }

        &-right {
            @media #{$xs,$md,$lg} {
                margin: 30px auto 30px auto;
            }

            @media #{$lg} {
                width: 63%;
            }

            @media #{$md} {
                width: 79%;
            }
        }

        &-bg {
            &-img {
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        &-row {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            z-index: 11;
        }

        &-item {
            background-color: var(--za-cr-theme-grey-10);
            border: 1px solid var(--za-cr-theme-grey-15);
            border-radius: 16px;
            padding: 30px;
            text-align: center;
            width: 314px;

            @media #{$xl} {
                width: 260px;
                padding: 24px;
            }

            @media #{$xs,$sm,$md} {
                width: 154px;
                padding: 14px;
            }

            & h6 {
                line-height: 1.5;
                font-size: 20px;
                font-weight: var(--za-fw-regular);

                @media #{$xl} {
                    font-size: 16px;
                }

                @media #{$xs,$sm,$md} {
                    font-size: 14px;
                    margin-top: 14px;
                }
            }
        }

        &-couter {
            & h1 {
                color: var(--za-cr-theme-green-60);
            }
        }

    }
}

.za-content-btn {
    & .za-btn-two {
        background-color: var(--za-cr-theme-grey-11);
        border: 1px solid var(--za-cr-theme-grey-15);
        color: var(--za-cr-text-absolute-white);

        &:hover {
            border: 1px solid var(--za-cr-theme-green-60);
            background-color: transparent;
        }
    }
}

