@use '../helper'as *;

/***** Header Area *****/

.za-header {
    &-transparent {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }

    &-bg {
        background-color: var(--za-cr-theme-grey-11);
        // background: rgb(99, 99, 99);
        border: 1px solid var(--za-cr-theme-grey-15);
        @include border-radius(50px);
    }

    // &-left {
    //     // padding: 6px 0;
    // }

    // &-middle {
    //     // padding: 14px 0;
    // }

    // &-right {
    //     // padding: 14px 0;
    // }

    &-mainmenu {
        & ul {
            // gap: 20px;

            & li {
                position: relative;

                &>a {
                    display: inline-flex;
                    // color: var(--za-cr-text-absolute-white);
                    padding: 12px 24px;
                    // @include za-transition(.3s);
                    transition: all .3s linear;
                    // transition কে mixins যে কোড করা আছে তাকে উন্নত করতে হবে।
                }

                &:hover {
                    &>a {
                        // background-color: var(--za-cr-theme-grey-15);
                        background-color: brown;
                        @include border-radius(50px);
                    }

                    &>.za-sub-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: perspective(300px) rotateX(0);
                        // pointer-events: auto;
                    }
                }

                & .za-sub-menu {
                    position: absolute;
                    // background-color: #222;
                    background-color: var(--za-cr-theme-green-80);
                    color: var(--za-cr-common-black);
                    width: 200px;
                    padding: 10px;
                    top: 120%;
                    left: 0;
                    // transform-origin: top;
                    transition: all .3s ease-in-out;
                    transform: perspective(300px) rotateX(-18deg);
                    opacity: 0;
                    visibility: hidden;
                    // pointer-events: none;

                    & li {
                        & a {
                            display: block;
                            transition: all .5s linear;
                            padding: 10px 30px;
                        }

                        &:hover {
                            &>a {
                                @include border-radius(0);
                                color: var(--za-cr-text-absolute-white);
                            }

                            & >.za-sub-menu {
                                opacity: 1;
                                visibility: visible;
                                transform: perspective(300px) rotateX(0);
                            }
                        }

                        & .za-sub-menu {
                            top: 0;
                            left: 100%;
                            opacity: 0;
                            visibility: hidden;
                            transform: perspective(300px) rotateX(-18deg);
                        }
                    }
                }
            }
        }
    }

    // &-button {
    //     & ul {
    //         gap: 40px;
    //     }
    // }
}

// এই ব্যপারটা শেষে আবার ধরবো।
// .za-menu {
//     &.active {
//         background-color: var(--za-cr-theme-grey-15);
//         @include border-radius(50px);
//     }
// }
//---
.za-menu {
    &.active {
        // background-color: var(--za-cr-theme-grey-15);
        background-color: brown;
        @include border-radius(50px);
    }
}

//---
// #za-header-sticky {
//     width: 100%;
//     // @include za-transition(.3s);
//     // এই জিনিসটা নিয়ে আরও লেখা পরা করতে হবে।
//     // top: -100px;
//     // transition:all 3s linear;

// }

.header-sticky {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 999;
    animation: slideDown .5s linear;
    transition: all .5s linear;
    // transition কে mixins যে কোড করা আছে তাকে উন্নত করতে হবে।
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}