@use '../helper'as *;

/***** Header Area *****/

.za-header {
    &-transparent {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }

    &-bg {
        background-color: var(--za-cr-theme-grey-11);
        // background: rgb(99, 99, 99);
        border: 1px solid var(--za-cr-theme-grey-15);
        @include border-radius(50px);
    }
}