@use '../helper'as *;

/*Font Size Head*/
// .demo-content{
//     & h1{
//         font-size: var(--za-fs-h1);
//         color: rgb(181, 194, 163);
//         @media #{$md} {
//             font-size: var(--za-fs-h1-tablet);
//         }
//     }
// }