@use '../helper'as *;

/***** Header Area *****/

.za-header {
    &-transparent {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }

    &-bg {
        background-color: var(--za-cr-theme-grey-11);
        // background: rgb(99, 99, 99);
        border: 1px solid var(--za-cr-theme-grey-15);
        @include border-radius(50px);
    }

    // &-left {
    //     // padding: 6px 0;
    // }

    // &-middle {
    //     // padding: 14px 0;
    // }

    // &-right {
    //     // padding: 14px 0;
    // }

    &-mainmenu {
        & ul {
            // gap: 20px;

            & li {

                & a {
                    display: inline-flex;
                    // color: var(--za-cr-text-absolute-white);
                    padding: 12px 24px;
                    // @include za-transition(.3s);
                    transition: all .3s linear;
                }

                &:hover {
                    & a {
                        background-color: var(--za-cr-theme-grey-15);
                        @include border-radius(50px);
                    }
                }
            }
        }
    }

    // &-button {
    //     & ul {
    //         gap: 40px;
    //     }
    // }
}

// এই ব্যপারটা শেষে আবার ধরবো।
.za-menu {
    &.active {
        background-color: var(--za-cr-theme-grey-15);
        @include border-radius(50px);
    }
}

//---
// #za-header-sticky {
//     width: 100%;
//     // @include za-transition(.3s);
//     // এই জিনিসটা নিয়ে আরও লেখা পরা করতে হবে।
//     // top: -100px;
//     // transition:all 3s linear;

// }

.header-sticky {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 999;
    animation: slideDown .5s linear;
    transition: all .5s linear;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}