@use '../helper'as *;

/***** Hero Area *****/

.za-hero {
    &-content {
        padding: 298px 0 150px 0;
    }

    &-sub {
        &-title {
            color: var(--za-cr-text-absolute-white);
            background-color: var(--za-cr-theme-grey-15);
            // background-color: blueviolet;
            font-size: 18px;
            font-weight: var(--za-fw-Light);
            padding: 5px 20px;
            // width: 58%;
            width: 50%;
            height: 44px;
            margin: 0;
            // line-height: 1.5;
            line-height: 1.8;
            @include border-radius(50px);

            @media #{$xl,$lg,$md} {
                font-size: 14px;
                height: 40px;
                line-height: 1.5;
                padding: 8px 14px;
            }

            &::before {
                content: '';
                width: 19.5px;
                height: 19.5px;
                vertical-align: middle;
                margin-right: 6px;
                display: inline-block;
                background-color: var(--za-cr-theme-green-60);
                mask-image: url(../img/icon/hero-icon_1.svg);
                mask-repeat: no-repeat;
                mask-size: cover;
            }
        }
    }

    &-title {
        font-size: 48px;
        line-height: 1.5;

        & span {
            color: var(--za-cr-theme-green-60);
        }

        @media #{$xl,$lg,$md} {
            font-size: 38px;
        }
    }

    &-right {
        // background-color: #585858;
    }

    &-card {
        width: 515.02px;
        // height: 373.45px;
        padding: 34.68px;
        border-radius: 10.4px;
        border: 0.87px solid transparent;
        background:
            linear-gradient(55deg,
                #1A1A1A 0%,
                #1A1A1A 100%) padding-box,
            linear-gradient(54deg,
                #CAFF33 0%,
                #262626 25%,
                #262626 75%,
                #CAFF33 100%) border-box;

        &-top {
            height: 225.02px;
        }

        &-title {
            font-size: 17.34px;
        }

        &-item {
            width: 445.66px;
            border: 0.87px solid var(--za-cr-theme-grey-15);
            border-radius: 10.4px;
            background-color: var(--za-cr-theme-grey-11);
            padding: 13.87px 20.81px 13.87px 20.81px;
            z-index: 111;

            &-name {
                gap: 8.67px;
            }

            &-text {
                & p {
                    margin-bottom: 5px;
                }

                & h6 {
                    margin-bottom: 0;
                }
            }

            &-price {
                & h5 {
                    margin-bottom: 0;
                }
            }
        }

        & .card-style-2 {
            width: 410.98px;
            top: 76px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 11;
            opacity: 0.5;
        }

        & .card-style-3 {
            width: 376.29px;
            top: 125px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            opacity: 0.2;
        }

        &-money {
            &-box {
                display: grid;
                grid-template-columns: 1fr 1fr;
                border: 1px solid var(--za-cr-theme-grey-15);
                border-radius: 10px;
                background-color: var(--za-cr-theme-grey-11);
            }

            &-item {
                border-right: 1px solid var(--za-cr-theme-grey-15);
                display: flex;
                flex-direction: column;

                &:last-child {
                    border-right: none;
                }
            }

            &-flag {
                padding: 18px;
                border-bottom: 1px solid var(--za-cr-theme-grey-15);

                & p {
                    margin-bottom: 0;
                }
            }

            &-price {
                padding: 26px 18px;

                & h5 {
                    margin-bottom: 0;
                }
            }

        }
    }
}