@use '../helper'as *;

/***** Hero Area *****/

.za-hero {
    &-content {
        padding: 298px 0 150px 0;
    }

    &-sub {
        &-title {
            color: var(--za-cr-text-absolute-white);
            background-color: var(--za-cr-theme-grey-15);
            // background-color: blueviolet;
            font-size: 18px;
            font-weight: var(--za-fw-Light);
            padding: 5px 20px;
            // width: 58%;
            width: 50%;
            height: 44px;
            margin: 0;
            // line-height: 1.5;
            line-height: 1.8;
            @include border-radius(50px);

            @media #{$xl,$lg,$md} {
                font-size: 14px;
                height: 40px;
                line-height: 1.5;
                padding: 8px 14px;
            }

            &::before {
                content: '';
                width: 19.5px;
                height: 19.5px;
                vertical-align: middle;
                margin-right: 6px;
                display: inline-block;
                background-color: var(--za-cr-theme-green-60);
                mask-image: url(../img/icon/hero-icon_1.svg);
                mask-repeat: no-repeat;
                mask-size: cover;
            }
        }
    }

    &-title {
        font-size: 48px;
        line-height: 1.5;

        & span {
            color: var(--za-cr-theme-green-60);
        }

        @media #{$xl,$lg,$md} {
            font-size: 38px;
        }
    }

    &-right {
        // background-color: #585858;
    }

    &-card {
        width: 515.02px;
        // height: 373.45px;
        padding: 34.68px;
        border-radius: 10.4px;
        border: 0.87px solid transparent;
        z-index: 22;
        background:
            linear-gradient(55deg,
                #1A1A1A 0%,
                #1A1A1A 100%) padding-box,
            linear-gradient(54deg,
                #CAFF33 0%,
                #262626 25%,
                #262626 75%,
                #CAFF33 100%) border-box;

        &-position {
            & .position-image {
                z-index: 2;
                top: 10px;
                right: -700px;

                @media #{$xl,$lg,$md} {
                    right: -580px;
                }

                & img {
                    width: 417.95px;
                    height: 382.73px;

                    @media #{$xl,$lg,$md} {
                        width: 250px;
                        height: 225px;
                    }
                }
            }
            & .position-price{
                width: 100px;
                height: 100px;
                background-color: brown;
                z-index: 222;
                top: 0;
                right: 0;
            }
                & .position-currency{
                width: 100px;
                height: 100px;
                background-color: yellowgreen;
                z-index: 222;
                bottom: -100px;
                right: 0;
            }
        }

        &-top {
            height: 225.02px;
        }

        &-title {
            font-size: 17.34px;
        }

        &-item {
            width: 445.66px;
            border: 0.87px solid var(--za-cr-theme-grey-15);
            border-radius: 10.4px;
            background-color: var(--za-cr-theme-grey-11);
            padding: 13.87px 20.81px 13.87px 20.81px;
            z-index: 111;

            &-name {
                gap: 8.67px;
            }

            &-text {
                & p {
                    margin-bottom: 5px;
                }

                & h6 {
                    margin-bottom: 0;
                }
            }

            &-price {
                & h5 {
                    margin-bottom: 0;
                }
            }
        }

        & .card-style-2 {
            width: 410.98px;
            top: 84px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 11;
            opacity: 0.5;
        }

        & .card-style-3 {
            width: 376.29px;
            top: 125px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            opacity: 0.2;
        }

        &-money {
            &-box {
                display: grid;
                grid-template-columns: 1fr 1fr;
                border: 1px solid var(--za-cr-theme-grey-15);
                border-radius: 10px;
                background-color: var(--za-cr-theme-grey-11);
            }

            &-item {
                border-right: 1px solid var(--za-cr-theme-grey-15);
                display: flex;
                flex-direction: column;

                &:last-child {
                    border-right: none;
                }
            }

            &-flag {
                padding: 18px;
                border-bottom: 1px solid var(--za-cr-theme-grey-15);

                & p {
                    margin-top: 10px;
                    font-size: 13.87px;
                    font-weight: var(--za-fw-Light);
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            &-price {
                padding: 7px 11px;
            }

        }
    }
}


/*Currency Style*/
.za--selected {
    &-currency {
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
            width: 34.68px;
            height: 34.68px;
            border-radius: 100px;
        }

        & span {
            font-size: 15.61px;
            font-weight: var(--za-fw-regular);
            color: var(--za-cr-text-white-90);
        }
    }
}

.za--currency {
    &-name {
        font-size: 14px;
        color: #555;
    }

    &-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--za-cr-theme-green-60);
        color: var(--za-cr-common-black);
        font-weight: var(--za-fw-regular);
        // border: 10px solid #ddd;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 99;
        /* Firefox scrollbar */
        scrollbar-width: thin;
        scrollbar-color: var(--za-cr-common-black) var(--za-cr-theme-green-60);

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: var(--za-cr-theme-green-60);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--za-cr-common-black);
            border-radius: 10px;
            border: 2px solid var(--za-cr-theme-green-60);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #000;
        }

        & li {
            list-style: none;
            padding: 8px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &:hover {
                background: var(--za-cr-common-black);
                color: var(--za-cr-text-absolute-white);
            }
        }
    }
}

.za--amount {
    width: 100%;
    font-size: 17.34px;
    font-weight: var(--za-fw-medium);
    padding: 6px;
    border: none !important;
    border-bottom: none !important;
    outline: none;
    box-shadow: none;
    background: transparent;
    /* Firefox */
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}