@use '../helper'as *;

/***** Hero Area *****/

.za-hero {
    &-content {
        padding: 298px 0 150px 0;

        @media #{$xs} {
            padding-top: 210px;
        }
    }

    &-sub {
        &-title {
            color: var(--za-cr-text-absolute-white);
            background-color: var(--za-cr-theme-grey-15);
            // background-color: blueviolet;
            font-size: 18px;
            font-weight: var(--za-fw-Light);
            padding: 5px 20px;
            // width: 58%;
            width: 50%;
            height: 44px;
            margin: 0;
            // line-height: 1.5;
            line-height: 1.8;
            @include border-radius(50px);

            @media #{$lg,$md,$md,$sm,$xs,$od} {
                margin: 0 auto;
            }

            @media #{$xl,$lg,$md} {
                font-size: 14px;
                height: 40px;
                line-height: 1.5;
                padding: 8px 14px;
            }

            @media #{$sm,$xs,$od} {
                font-size: 12px;
                line-height: 2.9;
            }

            @media #{$xs} {
                width: 95%;
            }

            &::before {
                content: '';
                width: 19.5px;
                height: 19.5px;
                vertical-align: middle;
                margin-right: 6px;
                display: inline-block;
                background-color: var(--za-cr-theme-green-60);
                mask-image: url(../img/icon/hero-icon_1.svg);
                mask-repeat: no-repeat;
                mask-size: cover;
            }
        }
    }

    &-title {
        font-size: 48px;
        line-height: 1.5;

        & span {
            color: var(--za-cr-theme-green-60);
        }

        @media #{$xl,$lg,$md} {
            font-size: 38px;
        }

        @media #{$xs} {
            font-size: 28px;
        }
    }

    &-right {
        @media #{$lg,$md,$md,$sm,$xs,$od} {
            margin-top: 80px;
        }
    }

    &-card {
        width: 515.02px;
        // height: 373.45px;
        padding: 34.68px;
        border-radius: 10.4px;
        border: 0.87px solid transparent;
        z-index: 22;
        background:
            linear-gradient(55deg,
                #1A1A1A 0%,
                #1A1A1A 100%) padding-box,
            linear-gradient(54deg,
                #CAFF33 0%,
                #262626 25%,
                #262626 75%,
                #CAFF33 100%) border-box;

        @media #{$xl} {
            width: 410.19px;
            padding: 27.55px;
        }

        @media #{$xs} {
            width: 305.45px;
            padding: 20.68px;
        }

        &-position {
            & .position {
                &-image {
                    z-index: 2;
                    top: 10px;
                    right: -700px;

                    @media #{$xl} {
                        right: -480px;
                    }

                    @media #{$lg,$md,$sm,$xs} {
                        right: -618px;
                    }


                    & img {
                        width: 417.95px;
                        height: 382.73px;

                        @media #{$lg,$md,$sm,$xs} {
                            display: none;

                        }

                        @media #{$xl,$lg,$md,$xs} {
                            width: 250px;
                            height: 225px;
                        }
                    }
                }

                &-price {
                    width: 188.5px;
                    height: 75.61px;
                    background-color: #22251B;
                    border-radius: 10.4px;
                    z-index: 222;
                    top: -55px;
                    right: -124px;
                    gap: 8px;
                    padding: 13.87px 17.34px;
                }

                &-text {

                    & h6,
                    & p {
                        margin-bottom: 0;
                    }

                    & h6 {
                        font-size: 17.34px;
                    }

                    & p {
                        margin-top: 8px;
                        font-size: 13.87px;
                    }
                }

                &-currency {
                    width: 370.22px;
                    height: 69.36px;
                    border-radius: 69.36px;
                    background-color: #22251B;
                    z-index: 222;
                    bottom: -87px;
                    right: -575px;
                    // gap: 14px;
                    padding: 10px;

                    @media #{$xl} {
                        right: -480px;
                        width: 342.87px;
                    }

                    @media #{$xs} {
                        right: -338px;
                    }

                    & h6 {
                        font-size: 15px;
                        font-weight: var(--za-fw-regular);
                        margin: 0 auto;

                        @media #{$xl,$lg,$md,$sm,$xs} {
                            font-size: 12px;
                        }
                    }

                    & .currency-icons {
                        background-color: var(--za-cr-theme-grey-10);
                        padding: 8.76px;
                        border-radius: 47.69px;
                        gap: 6.97px;
                    }
                }
            }

        }

        &-top {
            height: 225.02px;
        }

        &-title {
            font-size: 17.34px;
        }

        &-item {
            width: 445.66px;
            border: 0.87px solid var(--za-cr-theme-grey-15);
            border-radius: 10.4px;
            background-color: var(--za-cr-theme-grey-11);
            padding: 13.87px 20.81px 13.87px 20.81px;
            z-index: 111;

            @media #{$xl} {
                width: 355.1px;
            }

            @media #{$xs} {
                width: 264.43px;
            }

            &-name {
                gap: 8.67px;
            }

            &-text {
                & p {
                    margin-bottom: 5px;
                }

                & h6 {
                    margin-bottom: 0;
                }
            }

            &-price {
                & h5 {
                    margin-bottom: 0;
                }
            }
        }

        & .card-style-2 {
            width: 410.98px;
            top: 84px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 11;
            opacity: 0.5;

            @media #{$xl} {
                width: 327.55px;
            }

            @media #{$xs} {
                width: 243.91px;
            }
        }

        & .card-style-3 {
            width: 376.29px;
            top: 125px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            opacity: 0.2;

            @media #{$xl} {
                width: 300.01px;
            }

            @media #{$xs} {
                width: 223.4px;
            }
        }

        &-money {
            &-box {
                display: grid;
                grid-template-columns: 1fr 1fr;
                border: 1px solid var(--za-cr-theme-grey-15);
                border-radius: 10px;
                background-color: var(--za-cr-theme-grey-11);
            }

            &-item {
                border-right: 1px solid var(--za-cr-theme-grey-15);
                display: flex;
                flex-direction: column;

                &:last-child {
                    border-right: none;
                }
            }

            &-flag {
                height: 120px;
                padding: 18px;
                border-bottom: 1px solid var(--za-cr-theme-grey-15);

                & p {
                    margin-top: 10px;
                    font-size: 13.87px;
                    font-weight: var(--za-fw-Light);
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            &-price {
                padding: 7px 11px;
            }

        }
    }
}


/*Currency Style*/
.za--selected {
    &-currency {
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
            width: 34.68px;
            height: 34.68px;
            border-radius: 100px;
        }

        & span {
            font-size: 15.61px;
            font-weight: var(--za-fw-regular);
            color: var(--za-cr-text-white-90);
        }
    }
}

.za--currency {
    &-name {
        font-size: 14px;
        color: #555;
    }

    &-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--za-cr-theme-green-60);
        color: var(--za-cr-common-black);
        font-weight: var(--za-fw-regular);
        // border: 10px solid #ddd;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 99;
        /* Firefox scrollbar */
        scrollbar-width: thin;
        scrollbar-color: var(--za-cr-common-black) var(--za-cr-theme-green-60);

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: var(--za-cr-theme-green-60);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--za-cr-common-black);
            border-radius: 10px;
            border: 2px solid var(--za-cr-theme-green-60);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #000;
        }

        & li {
            list-style: none;
            padding: 8px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &:hover {
                background: var(--za-cr-common-black);
                color: var(--za-cr-text-absolute-white);
            }
        }
    }
}

.za--amount {
    width: 100%;
    font-size: 17.34px;
    font-weight: var(--za-fw-medium);
    padding: 6px;
    border: none !important;
    border-bottom: none !important;
    outline: none;
    box-shadow: none;
    background: transparent;
    /* Firefox */
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

//---
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }