@use '../helper'as *;

/***** Products Area *****/

.za-products {
    &-btn {
        background-color: var(--za-cr-theme-grey-11);
        border: 2px solid var(--za-cr-theme-grey-15);
        padding: 14px;
        border-radius: 82px;
    }

    &-grid {
        &-item {
            padding: 0 48px;
        }
    }
}