$colors: (
    common: (
        white: #ffffff,
        black: #222222,
    ),

    theme: (
        green-60: #CAFF33,
        grey-10: #1A1A1A,
    ),

    text: (
        white: #ffffff,      
    )    
);