$colors: (
    common: (
        white: #ffffff,
        black: #222222,
    ),

    theme: (
        green-60: #CAFF33,
        green-65: #D1FF4D,
        green-80: #E5FF99,
        grey-10: #1A1A1A,
        grey-11: #1C1C1C,
        grey-15: #262626,
    ),

    text: (
        absolute-white: #ffffff,      
        grey-70: #B3B3B3,
        white-90: #E4E4E7,
    )    
);