
// transition
@mixin za-transition($time) {
    -webkit-transition: $time;
    -moz-transition: $time;
    -ms-transition: $time;
    -o-transition: $time;
    transition: $time;
}

// transform
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    transform: $transforms;
}

// border
@mixin border-radius($man) {
    -webkit-border-radius: $man;
    -moz-border-radius: $man;
    -ms-border-radius: $man;
    -o-border-radius: $man;
    border-radius: $man;
}

// placeholder input
@mixin za-placeholder{
    &::-webkit-input-placeholder{
        @content;
    }
    &:-moz-placeholder{
          @content;
    }
    &::-moz-placeholder{
          @content;
    }
    &:-ms-input-placeholder{
          @content;
    }
}